html,
body,
section,
p,
header,
nav,
footer,
div,
article,
aside,
ol,
ul,
li,
h1,
h6,
a{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

p, li, h1, h2, h3, legend
{
	font-family: Verdana, Geneva, Tahoma, sans-serif
}
/* Force font sizes */
h1{
    font-size: 32px;
}
h2{
    font-size: 24px;
}
h3{
    font-size: 16px;
}
p{
    font-size: 14px;
}
li{
    list-style: none;
}
body{
    background-color: #146C94;
    background: linear-gradient(#19A7CE 0%, #146C94 100%);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
#pageWrapper{
    max-width:810px;
    padding: 5px;
    margin: auto;
    border: 3px solid #146C94;
    background-color: #F6F1F1;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
    .banner img{
        width: 100px;
        border: 2px solid #000000;
        margin: 2px;
    }

.topNavigationBar{
    width:100%;
    margin: 6px 0px;
}
    .topNavigationBar ul{
        background: rgb(184, 208, 221);
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    .topNavigationBar ul li a{
        color: #000000;
        padding: 0px 10px;
    }
    .topNavigationBar ul li a:link, .topNavigationBar ul li a:visited{
        color: #000000;
    }
    .topNavigationBar ul li a:hover{
        background-color: #F6F1F1;
    }

#pageContent article p{
    margin-bottom: 10px;
}
#pageContent article{
    max-width: 450px;
    margin: auto;
}
    #contactForm fieldset ul li label{
        display: block;
    }
    #contactForm fieldset ul li textarea{
        resize: none;
    }
    
#productList{
    list-style-position:outside;
    max-width:650px;
    margin: auto;
}
.product{
    border: 2px solid #146C94;
    margin: 5px;
    min-height: 215px;
}
    .product h2{
        margin: 0;
    }
    .product h3{
        margin: 0;
    }
    .product img{
        border: 2px solid #19A7CE;
        max-height: 200px;
        max-width: auto;
        margin: 5px;
        float: left;
    }
    .product p{
        overflow: hidden;
    }

.form_error{
    color:red;
    font-weight:700;
}

input:focus, textarea:focus{
    background-color: #146C94;
    color: #F6F1F1;
}

/*
footer{
    
}
*/
    footer p{
        color: #000000;
        font-size: 11px;
        margin: auto;
        padding: 5px;
        text-align:center;
    }
/*
#footerNav{

}
*/
    #footerNav ul{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }
    #footerNav ul li a{
        color: #000000;
        padding: 5px 5px;
        font-size: 16px;
        text-align:center;
    }
    #footerNav ul li a:link, #mainNav ul li a:visited{
        color: #000000;
    }
    #footerNav ul li a:active{
        background-color:#dfeeef;
    }
    #footerNav ul li a:hover{
        text-decoration:underline;
    }

/* for small screens */
@media (max-width: 810px){
    .product{
        min-height: 115px;
    }
        .product img{
            max-height: 100px;
        }
}